*{
  margin: 0;
  border: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #24292e;
  line-height: 1.5;
}
main {
  margin-bottom: 2rem;
}
main .sidebar{
  margin: 1rem;
}
button{
  cursor: pointer;
}
nav{
  background-color: #24292E;
  color: #fff;
  padding: 1rem;
}
li{
  list-style: none;
}
.repositories .search-container, .repositories .total-repos, .repositories .repos-container{
  margin: 0 1rem;
}
.landing-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
}
/* form styling */
#user-search{
  display: flex;
  align-items: center;
  width: 50%;
}

.submit-btn{
  color: #24292e;
  display: flex;
  height: 2rem;
  padding: 0 .5rem;
  margin-left: .5rem;
  align-items: center;
  border-radius: 6px;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-shadow: 0 1px 0 rgba(27,31,35,0.04), inset 0 1px 0 hsla(0,0%,100%,0.25);
}

.left-nav{
  display: flex;
  flex-direction: column;
}
.logo-container{
  display: flex;
  justify-content: center;
}
#logo{
  width: 2rem;
  height: 2rem;
}
.search{
  height: 2rem;
  width: 100%;
  border-radius: 6px;
  background-color: inherit;
  border: 1px solid rgba(225, 228, 232, 0.2);
  color: inherit;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search input{
  font-size: 1rem;
  outline: none;
  background-color: inherit;
  color: #d1d5da;
  margin-left: .5rem;
  width: 100%;
}
.divider{
  border: 1px solid rgba(225, 228, 232, 0.2);
  color:rgb(225, 228, 232, 0.8);
  font-size: .75rem;
  width: 1rem;
  height: 1.25rem;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .5rem;
}
.nav-links{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: bold;
}
/* hamburger menu styles*/
#checkbox{
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.hamburger{
  display: none;
}
#hamburger-icon{
  color: #e1e4e8;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  z-index: 1;
}
#checkbox:checked + .hamburger{
  display: inline-block;
}

/* end of hamburger menu styles */

.nav-links a{
  padding: .5rem 0;
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: #e1e4e833;
}
.nav-links a:hover{
  color: #858585
}
#mini-avatar{
  width: 1rem;
  height: 1rem;
  border-radius: .5rem;
  margin-right: .5rem;
}
.menu-avatar{
  display: flex;
  align-items: center;
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: rgba(225, 228, 232, 0.2);
  padding: .5rem 0;
}
.profile-settings .profile-icons{
  display: none;
}
.user-info{
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.user-name h1{
  font-size: 1.5rem;
  color: #24292e;
  width: 100%;
}
.user-name p{
  font-size: 1.25rem;
  color: #586069;
  font-weight: 300;
}
#large-avatar{
  width: 15%;
  height: 15%;
  border-radius: 50%;
  border: 1px solid #e8eaed;
  margin-right: 1rem;
}
.status-btn{
  color: #586069 ;
  display: flex;
  border: 1px solid #e1e4e8; 
  padding: .5rem;
  border-radius: 6px;
  font-size: .75rem;
  margin-bottom: 1rem;
}

.status-btn svg{
  margin-right: .5rem;
}
.status-btn:hover{
  color: #2188ff;
}
.headline{
  font-size: 1rem;
  word-wrap: break-word;
  color: #24292e;
  margin-bottom: 1.5rem;
}
.tab{
  display: flex;
  overflow: scroll;
  border-bottom: 1px solid #d1d5da;
}
.tab-links{
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
}
.tab-links:hover{
  border-bottom: 2px solid #d1d5da;
}
.tab-icons{
  color: #586069 ;
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
}
.active-link{
  font-weight: 600;
  color: #24292e;
  border-bottom: 2px solid #fe9600;
}
.active-icon{
  color: #24292e;
}
.repository-search{
  height: 2rem;
  width: 100%;
  padding: .5rem;
  border-radius: 6px;
  background-color: inherit;
  border: 1px solid #e1e4e8;
  color: inherit;
  outline: none;
  margin: 1rem 0;
}
.search-container, .total-repos, .repo{
  border-bottom: 1px solid #eaecef;
}
.total-repos{
  font-size: .75rem;
  padding: 1rem 0;
}
.total-repos span{
  font-weight: bold;
}
.repo-info div{
  display: flex;
  font-size: 0.75rem;
  color: #586069;
}
.repo-info>div>div{
  margin-right: 1rem;
  display: flex;
  align-items: center;
}
.repo-title{
  font-weight: 600;
  color: #0366d6;
  font-size: 1.25rem;
}
.repo-title:hover{
  text-decoration: underline;
}
.repo-description{
  font-size: .75rem;
  color: #586069;
  margin: .75rem 0;
}
.repo{
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.repo-options{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.language-color{
  width: 12px;
  height: 12px;
  background-color: #fafbfc;
  border-radius: 50%;
  border: 1px solid rgba(27, 31, 35, 0.1);
  margin-right: .25rem;
}
.star-icon{
  width: 1rem;
  height: 1rem;
  margin-right: .25rem;
  color: #858585;
}
.star-btn{
  color: #24292e;
  display: flex;
  align-items: center;
  padding: .5rem .75rem;
  border-radius: 6px;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-shadow: 0 1px 0 rgba(27,31,35,0.04), inset 0 1px 0 hsla(0,0%,100%,0.25);
}
/* Loading spinner styles */
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #858585; 
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* end of Loading spinner styles */

/* hide updated at on smaller screens */
@media screen and (max-width: 480px){
  .last-update{
    display: none;
  }
}
@media screen and (min-width: 770px){
  nav{
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .left-nav{
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  #checkbox, #hamburger-icon{
    display: none;
  }
  .hamburger{
    display: flex;
    width: 100%;
    align-items: center;
  }
  .search{
    max-width: 15rem;
    margin-left: 1rem;
  }
  .nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 18rem;
    margin-left: 1rem;
  }
  .nav-links a{
    padding: .5rem 0;
    border-top-style: none;
  }
  .profile-settings{
    position: absolute;
    right: 1rem;
    display: flex;
    align-items: center;
  }
  .profile-settings .profile-icons{
    display: inline-block;
    width: 1rem;
    height: 1rem;  
  }
  .menu-avatar{
    display: flex;
    align-items: center;
    border-top-style: none;
    padding: .5rem 0;
    margin-left: 1rem;
  }  
  #nav-handle{
    display: none;
  }
  .container{
    display: flex;
  }
  .container .sidebar{
    flex: 20%;
  }
  .container .repositories{
    flex: 80%;
  }
  .user-info{
    flex-direction: column;
    align-items: flex-start;
  }
  #large-avatar{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
  }
  main .sidebar{
    margin: 1.75rem 0 0 1.75rem;
  }
  .repositories .search-container, .repositories .total-repos, .repositories .repos-container{
    margin-right: 1.75rem;
  }
  .tab{
    margin-top: 1.75rem;
    padding-left: 22.5%;
    position: absolute;
    left: 0;
    right: 0;
    max-width: 100%;
  }
  .repositories .search-container{
    margin-top: 4.25rem;
  }
}